<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>/
        <Property name="logPath">/tmp</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p[%t] %-60c %x - %m%n"></PatternLayout>
        </Console>
        <RollingFile name="FileLogs" fileName="${logPath}/test.log" filePattern="test.log.%d{MMdd}" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p[%t] %-60c %x - %m%n"
            ></PatternLayout>
        <TimeBasedTriggeringPolicy/>
        </RollingFile>
        <RollingFile name="FileMetricsLogs" fileName="metrics.log" filePattern="metrics.log.%d{MMdd}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %-60c %x - %m%n"></PatternLayout>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>
    <Loggers>

        <Root level="info">
           <AppenderRef ref="Console"></AppenderRef>
            <!--<AppenderRef ref="FileLogs"></AppenderRef>-->
        </Root>
        <Logger name="com.oyashchenko.flink" level="INFO">
            <AppenderRef ref="FileLogs"></AppenderRef>
        </Logger>
        <Logger name="org.apache.flink.metrics.own" level="INFO">
            <AppenderRef ref="FileMetricsLogs"></AppenderRef>
        </Logger>
    </Loggers>
</Configuration>